
h1 {
    color: green;
}

div#core {
    display: flex;
}

div#quizDisplay {
    display: flex;
    flex: auto;
    flex-direction: column;
}

div#questionDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerBox.true,
#inputBox.inactive.true {
    border: 5px solid green;
}

.answerBox.false,
#inputBox.inactive.false {
    border: 5px solid red;
}

.answerBox {
    border: 5px solid black;
    border-radius: 2px
}

#inputBox {
    height: 30px;
    width: 100px;
    align-self: center;
}

#answerDisplay {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    padding: 20px;
}

#answerDisplay.disabled {
    opacity: 1;
}

#inputBox.inactive {
    pointer-events: none;
}

#inputBox.disabled {
    display: none;

}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

button#start,
button#next,
button#submit {
    height: 30px;
    width: 70px;
    align-self: center;
}

div.border {
    height: 600px;
    width: 200px;
    overflow: hidden;
    min-height: 500px;
    min-width: 200px;
}

div.border img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.075);
}

img.visualData {
    max-width: 960px;
    max-height: 540px;
}