
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    color: green;
}

div#header {
    display: flex;
    align-items: center;
    gap: 20px;

}

img#icon {
    transform: scale(.75);
}

div#core {
    display: flex;
}

div#quizDisplay {
    display: flex;
    flex: auto;
    flex-direction: column;

    font-size: 1.5rem;
}

div#questionDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerBox.true,
#inputBox.inactive.true {
    border: 5px solid green;
}

.answerBox.false,
#inputBox.inactive.false {
    border: 5px solid red;
}

.answerBox {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px;
}

#inputBox {
    height: 30px;
    width: 100px;
    align-self: center;
}

#answerDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    padding: 20px;
}

#answerDisplay.disabled {
    opacity: 1;
}

#answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

#inputBox.inactive {
    pointer-events: none;
}

#inputBox.disabled {
    display: none;

}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

button#start,
button#next,
button#submit {
    height: 30px;
    width: 70px;
    align-self: center;
}


img.visualData {
    max-width: 960px;
    max-height: 540px;
}