
h1 {
    color: green;
}

div#core {
    display: flex;
}

div#quizDisplay {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.answerBox.true {
    border: 5px solid green;
}

.answerBox.false {
    border: 5px solid red;
}

.answerBox {
    border: 5px solid black;
    border-radius: 2px
}

#inputBox {
    height: 30px;
    width: 100px;
    align-self: center;
}

#answerDisplay {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    padding: 20px;
}

#answerDisplay.disabled {
    opacity: 1;
}

#inputBox.inactive {
    pointer-events: none;
}

#inputBox.disabled {
    display: none;

}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

button#start,
button#next,
button#submit {
    height: 30px;
    width: 70px;
    align-self: center;
}