
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

div#header {
    display: flex;
    align-items: center;
    gap: 20px;

    margin: 30px;
}

#platformSelect .options {
    display: flex;
    gap: 10px
}

.options input[type="radio"] {
    display: none;
}

.platformOption .labelText {
    color: #ffffff;
    align-self: center;
}

.platformOption {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(68, 106, 231);
    height: 50px;
    width: 50px;
}

.platformOption:has(input:checked) {
    background-color:rgb(32, 32, 255);
}

div#userChampions {
    display: flex;
    margin: 20px;
}

div#userChampions a {
    text-decoration: none;
}

div#userChampions a:visited {
    color: inherit;
}

div#userChampions a {
    color: black;
}

#errorMessage {
    color: red;
}

.championCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid rgb(255, 182, 26);
}

