
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

div#header {
    display: flex;
    align-items: center;
    gap: 20px;

    margin: 30px;
}

.dropdown { 
    position: relative; 
    display: inline-block;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background: white;
    border: 1px solid #ccc;
    min-width: 130px;
    text-align: center;
}

.dropdownToggle {
    min-width: 130px;
    padding: 10px;
}

.dropdownMenu.open {
    display: block;
    max-height: 200px;
    overflow-y: scroll;
}

.dropdownMenu li:hover {
    background-color: blue;
    color: white;
}

div#searchBar {
    display: flex;
    padding: 10px;
}

#searchBar * {
    font-size: 1.75rem;
}

button#search,
#summonerSearch {
    padding: 10px;
}

div#userChampions {
    display: flex;
    margin: 20px;
}

div#userChampions a {
    text-decoration: none;
}

div#userChampions a:visited {
    color: inherit;
}

div#userChampions a {
    color: black;
}

#errorMessage {
    color: red;
}

.championCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid rgb(255, 182, 26);
}

